<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container">
        <h1>Uploads image(s)</h1>
        <!-- <img src="/image/1594640438783Medium_WW226365.jpg" alt=""> -->
        <hr />
        <div class="row">
            <div class="col-md-6">
              <form action="/uploads" method="post" enctype="multipart/form-data">
                <div class="form-group">
                  <input type="text" name="title" class="form-control" placeholder="Title">
                </div>
                <div class="form-group">
                  <input type="file" name="blogimage" multiple/>
                </div>
                <button type="submit" class="btn btn-info">upload</button>
              </form>
            </div>
        </div>
      </div>
      
</body>
<style>
    img{
        width: 100px;
        height: 70px;
    }
    
</style>
<script>
    const input = document.querySelector('input[type="file"]')
function handleFiles (files) {
  console.log(files)
  for( let i in files ){
    const reader = new FileReader()
    reader.onload = function () {
    const img = new Image()
  //  img.src = reader.result;
    // img.onload = function () {
    //   const canvas = document.createElement('canvas')
    //   const context = canvas.getContext('2d')
    //   context.drawImage(img, 0, 0)

    // //   const imageData = context.getImageData(0, 0, 500, 400)
    // //   const data = imageData.data
   
    // //   context.putImageData(imageData, 0, 0)

    //   document.body.appendChild(canvas)
    
    // }
    img.src = reader.result
    document.body.appendChild(img)
  }
  //reader.readAsText(files[0])
  reader.readAsDataURL(files[i])
  }
  
}

input.addEventListener('change', function (e) {
  handleFiles(input.files)
}, false)

document.addEventListener('dragover', function (e) {
  e.preventDefault()
  e.stopPropagation()
}, false)
document.addEventListener('drop', function (e) {
  e.preventDefault()
  e.stopPropagation()
  handleFiles(e.dataTransfer.files)
}, false)
</script>
</html>