@import url('https://fonts.googleapis.com/css2?family=Baloo+Chettan+2&family=Baloo+Da+2&display=swap');
.App {
  text-align: center;
}
html{
  background-color:rgb(52, 51, 51);
  overflow: hidden;
}
*{
  font-family: 'Baloo Da 2', cursive;
}
.mapboxgl-popup-tip{
  display: none;
  
  
}
h2{
  font-size: 18px;
}
.login a:hover{
  background-color:#4267b2;
  color:whitesmoke;
}
::-webkit-scrollbar {
  display: none;
}
.cmt-row{
  border:1px solid #ebedeb;
  border-radius: 2px;
  padding: 5px 5px;
  font-family: 'Baloo Chettan 2', cursive;
  font-size: 12px;
  display: relative;
  /* display: flex; */
   justify-content: center; 
  align-items: center;

}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.white{
  color:white;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.loader{
  animation: App-logo-spin infinite 2s linear;

}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(45deg);
  }
}

@keyframes App-logo-spin1 {
  from {
    transform: rotate(45deg);
  }
  to {
    transform: rotate(0deg);
  }
}
h3{
  font-size: 19px;
  margin-bottom: 20px;
  margin-top: 20px;
}
input{
  font-size: 15px;
  height: 50px;
}
.mapboxgl-ctrl-logo , .mapboxgl-ctrl-bottom-right{
  visibility: hidden;
}